{% extends "master.html" %}
{% block Title %} A place for film {% endblock %}

{% block content %}
<!-- Jumbotron -->
<div class="jumbotron jumbotron-fluid animate__animated animate__fadeIn">
    <div class="container">
        <h1 class="display-4">Welcome to FilmWeb</h1>
        <p class="lead">Your ultimate destination for the latest and greatest films.</p>
        <hr class="my-4">
        <p>Explore our collection of featured films and discover your next favorite movie.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
</div>

<!-- Featured Films Section -->
<div class="container">
    <h2 class="text-center mb-4">Featured Films</h2>
    <div class="row">
        <div class="col-md-4 animate__animated animate__zoomIn">
            <div class="card">
                <img src="{{movies.0.image_src}}" class="card-img-top" alt="Film 1">
                <div class="card-body">
                    <h5 class="card-title">{{movies.0.title}}</h5>
                    <p class="card-text">{{movies.0.description}}</p>
                    <a href="#" class="btn btn-primary">Watch Now</a>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 animate__animated animate__zoomIn animate__delay-1s">
            <div class="card">
                <img src="{{movies.1.image_src}}" class="card-img-top" alt="Film 2">
                <div class="card-body">
                    <h5 class="card-title">{{movies.1.title}}</h5>
                    <p class="card-text">{{movies.1.description}}</p>
                    <a href="#" class="btn btn-primary">Watch Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 animate__animated animate__zoomIn animate__delay-2s">
            <div class="card">
                <img src="{{movies.2.image_src}}" class="card-img-top" alt="Film 3">
                <div class="card-body">
                    <h5 class="card-title">{{movies.2.title}}</h5>
                    <p class="card-text">{{movies.2.description}}</p>
                    <a href="#" class="btn btn-primary">Watch Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

          
