{% extends "master.html" %}
{% block Title %} {{ movie.title }} {% endblock %}

{% block content %}
<!-- Film Watch Container -->
<div class="container mt-5">
    <div class="row">
        <!-- Player Section -->
        <div class="col-lg-8 col-md-12">
            <div class="embed-responsive embed-responsive-16by9">
                <video id="video" class="embed-responsive-item video-js vjs-default-skin" controls preload="auto" data-setup="{}">
                    <source src="{{ movie.source }}" type="video/mp4">
                </video>
            </div>
            <h2 class="mt-4">{{ movie.title }}</h2>
            <p class="lead">{{ movie.description }}</p>
        </div>
        <!-- Suggested Movies Section -->
        <div class="col-lg-4 col-md-12">
            <h3>Suggested Movies</h3>
            <div class="row">
                {% for suggested_movie in suggested_movies %}
                <div class="col-md-12 mb-4">
                    <div class="card h-100">
                        <img src="{{ suggested_movie.image_src }}" class="card-img-top" alt="{{ suggested_movie.title }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ suggested_movie.title }}</h5>
                            <p class="card-text">{{ suggested_movie.description|truncatewords:20 }}</p>
                            <a href="{% url 'player' suggested_movie.id %}" class="btn btn-primary">Watch Now</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
